*{
    overflow-x: hidden;
}
h1 {
    color: rgb(9, 34, 110)!important;
    /* color: #284b63 !important; */
    /* color: rgb(56, 150, 187) !important; */
    font-weight: bold !important;
}
.my-page{
    font-family: 'Montserrat', sans-serif;
}
.nav-bg{
    /* background-color:#284b63 !important; */
    background-color: rgb(9, 34, 110) !important;
    }
.nav-bar ul{
    padding-right: 60px;
}

.nav-link:hover{
    /* color: #b9d2b9 !important; */
    color: #15e1f2 !important;
    
}
.nav-link{
    color: white !important;
}

/* //home section */
.F-page{
    padding-top: 70px;
    /* background-color:#b7edd7 !important; */
    padding-bottom: 140px;
     /* background-color:#dcecdc; */
} 
.profile{
    display: flex;
    justify-content: center;
    
    }
.img-bg{
   
    height: 250px;
    width: 250px;
    margin-top: 100px;
    border-radius: 50%;
    background-color: white;
}
.pro-img{
    /* padding-top: 100px; */
    height: 100%;
    width: 100%;
    border: 4px solid rgb(9, 34, 110);
    object-fit: contain;
}
.name{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
    /* color: #284b63; */
}
.name h1{
    font-weight: 700;
}
.work{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #284b63;
}
.work h2{
    font-weight: 600;
}
.s-line{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: gray;
    }
.s-line p{
    padding-top: 5px;
    padding-right: 5px;
}
.cv{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.cv a button{
    background-color: rgb(9, 34, 110);
    color: white;
    width: 165px;
    height: 50px;
    border-radius: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    /* box-shadow: #204964 0px 0px 10px 10px; */
   
}

/* //about section */
#About {
    display: flex;
    justify-content: center;
    /* background-color: rgb(232, 230, 229); */
}
.content{
    padding-top: 140px;
    padding-bottom: 150px;
    
}
.content h1{
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}
.content p{
    /* margin-top: 68px; */
    text-align: justify;
}
.abt {
    height: 250px;
    width: 300px;
}
.abt img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 3px solid rgb(9, 34, 110);
}
.abt-img{
    display: flex;
    justify-content: center;
}
.p2{
    display: flex;
    align-items: center;
    margin-top: 55px;
}
.p1{
   justify-content: space-evenly;
}
.p2 p{
    margin:0;
}

/* //education section */

#Education{
    padding-top: 70px;
    /* background-color: rgb(233, 232, 232); */
    padding-bottom: 70px;
}
.details h1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom:60px ;
    font-weight: 500;
}
.img-border{
    justify-content: center;
}
.img-border img{
    justify-content: center;
    width: 175px;
    height: 150px;
    object-fit: cover;
}
.T-line{
    border-right: 2px solid;
    height: 100%;
    margin: 0;
    margin-right: 1px;
    /* text-align: center; */

}
.T-line-1{
    border-right: 2px solid;
    height: 100%;
    margin: 0;
}
.line1{
    border-right: 2px solid;
    height: 70px;
}
.dot{
    height: 55px;
    width: 23px;
    border: 2px solid;
    background-color: rgb(9, 34, 110);
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    display: flex;
    justify-content: end;
    align-items: center;

}
.text h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.box{
/* margin: 95px auto; */
/* width: 30px; */
/* height: 130px; */
height: auto;
border-radius: 30px;
/* box-shadow: 0px 10px 5px 2px #284b63; */
box-shadow: 0px 10px 5px 2px rgb(9, 34, 110);
/* transform: translateY(30px); */
/* padding: 50px; */
display: flex;
align-items: center;
}
.box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 5px 2px rgb(9, 34, 110);
}
.box1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 5px 2px rgb(9, 34, 110);
}
.box1{
    /* height: 130px; */
    height: auto;
border-radius: 30px;
box-shadow: 0px 10px 5px 0px rgb(9, 34, 110);
/* transform: translateY(45px); */
/* padding: 50px; */
display: flex;
align-items: center;
}
.text1{
    display: flex;
    justify-content: start;
    align-items: center;
}
.text1 h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.text2{
    display: flex;
    justify-content: end;
    align-items: center;
}
.text2 h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.img-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Edu-img img{
    width:100%;
}
.block{
    border: 1.5px solid;
    height: auto;
    margin:0 1px 0 0;

}
.Edu-img-col{
    display: flex;
    justify-content: center;
}
.Edu-img-col img{
    height: 145px;
    width: 135px;
    border-radius: 50%;
    /* border: 2px solid rgb(9, 34, 110); */
}
.paragraph{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.center1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1px;
}
.quotes{
    justify-content: center;
}
.box h6{
    margin: 10px;
    text-align: center;
}
.box1 h6{
    margin: 10px;
    text-align: center;
}
.box2 h6{
    margin: 10px;
    text-align: center;
}

/* //contact section */

#Contact{
    padding-bottom: 70px;
}
#Contact textarea{
    /* height: 50px; */
    height: 170px;
    border: 3px solid rgb(9, 34, 110);
}
.con-details input,textarea{
    border: 3px solid rgb(9, 34, 110);
}
.btn-field{
    background-color: rgb(9, 34, 110) !important;
    /* background-color: #09446b ! important; */
    /* color: white; */
    color: white !important;
    display: flex ! important;
    justify-content: center;
    margin-bottom: 30px;
    height: 60px;
    width: 220px;
    align-items: center;
    /* padding-bottom: 100px; */
}
.btn-field:hover{
    box-shadow: 0px 0px 10px 10px;
    color: rgb(38, 67, 154) !important;
}
.submit{
    color: white;
}

/* //skills section */
.title h1{
    /* padding-top: 60px; */
    text-align: center;
    padding-bottom: 60px;
}
.title{
    padding-top: 100px;
    padding-bottom: 150px;
}
.call h1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.call{
    width: 60%;
    margin: 0 auto;
}

.logo img{
    height: 145px;
    width: 215px;
    border-radius: 90px;
    /* box-shadow: 0px 5px 10px 0px rgba(48, 84, 229, 0.7); */
    box-shadow: 0px 5px 10px 0px rgb(9, 34, 110);
    display: flex;
    align-items: center;
    padding: 35px;
    object-fit: scale-down;
}
.logo img:hover{
    /* background-color: #6b8ddecc; */
    /* background-color: #817df6cc; */
    background-color:#15e1f2 ;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid; */
}

.logo h3{
    padding-top: 10px;
    color: rgb(9, 34, 110);
    font-weight: 600;
}

/* //footer section */
footer{
    background-color: rgb(9, 34, 110);
}
.icons{
    display: flex;
    justify-content: center;
}
.icons a i{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}
.icon1{
    padding-right: 30px;
}
.icon2{
    padding-right: 30px;
}





@media  (max-width:992px){
    #About p{
       margin-top: 30px;
       
    }
    .navbar-nav li a{
        padding-left: 30px;
        /* display:flex; */
        /* flex-direction: column; */
        /* align-items: end; */
    }
    #About{
        width: 80%;
    }
}